/************************************************************************************/
body {
  margin: 0;
}

.top_bar,
.bottom_bar {
  display: flex;
  align-items: center;

  height: 150px;
  background-color: #e6e6e6;
}

.top_bar h2 {
  flex: 1;
  font-weight: bolder;
  padding-left: 6rem;
  font-size: 1.3rem;
}

.nav_links {
  font-size: 1.5rem;
  padding-right: 5rem;
  color: black;
  text-decoration: none;
}

.nav_links:hover {
  opacity: 0.5;
}

.navigation_bar {
  display: flex;
  padding-right: 3rem;
  gap: 20px;
}

/************************************************************************************/
.about_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;

  margin-top: 7rem;
  margin-bottom: 7rem;
}

.about_container img {
  flex: 1;
  height: 100%;
  width: 150px;
  margin-left: 5rem;
  margin-right: 2rem;
  object-fit: cover;
}

.about_text {
  flex: 1;
}

.about_text h1 {
  font-size: 3rem;
  font-weight: bolder;

  text-align: center;
  padding-left: 8rem;
  margin-top: -10;
  margin-bottom: 3rem;
}

.about_text p {
  font-size: 25px;
  line-height: 1.5;

  padding-left: 9rem;
}

.social_media {
  display: flex;
  justify-content: center;
  gap: 20px;

  width: 100%;
}

.social_media img {
  width: 20px;
  height: 20px;
}

/************************************************************************************/

.home {
  font-size: 1.5rem;
  font-family: "EB Garamond", "Adobe Garamond Pro", "Garamond", serif;
}

.home_container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 10px;

  margin-top: 1em;
  margin-bottom: 7rem;

  padding-left: 6rem;
}

.home_container h1 {
  font-size: 4rem;

  font-weight: bolder;

  margin-bottom: 0;
}

.home_container img {
  width: 95%;
  height: 900px;
  object-fit: cover;

  border-radius: 10px;
}

.home_button {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 3px 18px;

  width: 100px;
  height: 50px;
  margin-bottom: 5rem;
  margin-top: 2rem;
  border-radius: 10px;

  border: 1.5px solid #000;
  background-color: #000;
  color: #fff;
}

.proj_button {
  width: auto;
  padding: 5px 29px;
}

.home_projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;

  margin-top: 1em;
  margin-bottom: 7rem;

  padding-left: 6rem;
  padding-right: 6rem;
}

.home_projects h1 {
  padding-bottom: 30px;
}

.images_container {
  display: flex;
  flex-direction: row;

  justify-content: center;

  width: fit-content;
  gap: 20px;
}

.image_cell {
  max-width: 1000px;

  padding-right: 0;

  overflow: hidden;
}

.images_container img {
  width: 100%;
  height: 560px;
  object-fit: cover;

  border-radius: 10px;

  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.image_cell:hover img {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.off_center img {
  object-position: left center;
}

.off_center1 img {
  object-position: 20%;
}

.gallery_home {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  padding-left: 6rem;
  padding-bottom: 10rem;

  gap: 50px;
}

.gallery_home_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300;
  width: 50%;
}

.gallery_home_text_content:nth-child(2) {
  margin-top: -20;
}

.gallery_home_text_content:last-child {
  margin-top: auto;
}

.gallery_home img {
  flex: 1;
  width: 80%;
  height: 840px;

  border-radius: 10px;
  margin-right: -100px;
  object-position: 70%;
}

/************************************************************************************/

.gallery {
  padding-bottom: 50px;
}
.gallery_container {
  display: flex;
  flex-direction: column;
  text-align: center;

  align-items: center;

  padding: 10rem 7rem;
}

.gallery_container h1 {
  font-weight: bolder;
  font-size: 3rem;
}

.gallery_container p {
  font-size: 20px;
}

.gallery_content {
  column-count: 3;
  gap: 10px;

  padding: 0 10px;
}

.gallery_content img {
  width: 100%;
  height: auto;

  margin-bottom: 10px;
  display: block;

  border-radius: 5px;
}
